<h1>Participants in <%= @study.title %></h1>

<% if @study.participants.empty? %>
  <h2>There are no participants yet! <%= link_to "Add Participants", new_study_participant_path(@study) %></h2>
<% else %>
  <ol>
    <% @study.participants.each do |participant| %>
    <li><%= participant.first_name %> <%= participant.last_name %>, <%= participant.email %>
      <%= link_to 'Remove', study_participant_path(@study, participant), method: :delete %></li>
    <% end %>
  </ol>
<% end %>
