<p id="notice"><%= notice %></p>

<h1>Management Dashboard for <%= @study.title %></h1>
<p><%= link_to 'Edit This Study', edit_study_path(@study) %></p>

<%= link_to 'View Participants', study_participants_path(@study) %>
<%= link_to 'Invite Participants', new_study_participant_path(@study) %>
<hr>
