<%= form_for [@record, @participant, @response] do |f| %>

  <%= f.label :who, 'Who are you with?' %>
  <%= f.text_field :who %>
  <%= f.label :what, 'What are you currently doing?' %>
  <%= f.text_field :what %>
  <%= f.label :pleasure, 'Rate your sense of pleasure.' %>
  <%= f.select :pleasure, options_for_select([*1..10]) %>
  <%= f.label :purpose, 'Rate your sense of purpose.' %>
  <%= f.select :purpose, options_for_select([*1..10]) %>
  <%= f.hidden_field :participant_id, value: @participant.id %>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
