<!DOCTYPE html>
<html>
<head>
  <title>WellbeingMeasure</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless current_page?(root_path) %>
      <%= render 'layouts/header' %>
  <% end %>

  <% if notice %>
    <p id='notice'><%= notice %></p>
  <% end %>

  <%= yield %>


</body>
</html>
